openapi: 3.0.1
info:
  title: MCP Strava Connector
  description: The Strava API v3 OpenAPI specification for use with HAPI Model Context
    Protocol (MCP) servers. Enables AI integration with Strava's athlete activity
    tracking, segments, clubs, and performance data. For interactive testing, visit
    the [chatMCP Playground](https://chat.mcp.com.ai). To use the playground, configure
    your MCP Endpoint, connect your Strava account, and start making calls to retrieve
    athlete stats, segment information, and more.
  version: 3.0.0+0.7.1
servers:
- url: https://www.strava.com/api/v3
security:
- strava_oauth:
  - public
- bearer: []
paths:
  /athletes/{id}/stats:
    get:
      tags:
      - Athletes
      summary: Get Athlete Stats
      description: Returns the activity stats of an athlete. Only includes data from
        activities set to Everyone visibilty.
      operationId: getStats
      parameters:
      - name: id
        in: path
        description: The identifier of the athlete. Must match the authenticated athlete.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Activity stats of the athlete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityStats'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fault'
      security:
      - strava_oauth:
        - public
      - bearer: []
  /athlete:
    get:
      tags:
      - Athletes
      summary: Get Authenticated Athlete
      description: Returns the currently authenticated athlete. Tokens with profile:read_all
        scope will receive a detailed athlete representation; all others will receive
        a summary representation.
      operationId: getLoggedInAthlete
      responses:
        '200':
          description: Profile information for the authenticated athlete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedAthlete'
              example:
                id: '1234567890987654400'
                username: marianne_t
                resource_state: 3
                firstname: Marianne
                lastname: Teutenberg
                city: San Francisco
                state: CA
                country: US
                sex: F
                premium: true
                created_at: 2017-11-14 02:30:05+00:00
                updated_at: 2018-02-06 19:32:20+00:00
                badge_type_id: 4
                profile_medium: https://xxxxxx.cloudfront.net/pictures/athletes/123456789/123456789/2/medium.jpg
                profile: https://xxxxx.cloudfront.net/pictures/athletes/123456789/123456789/2/large.jpg
                friend: null
                follower: null
                follower_count: 5
                friend_count: 5
                mutual_friend_count: 0
                athlete_type: 1
                date_preference: '%m/%d/%Y'
                measurement_preference: feet
                clubs: []
                ftp: null
                weight: 0
                bikes:
                - id: b12345678987655
                  primary: true
                  name: EMC
                  resource_state: 2
                  distance: 0
                shoes:
                - id: g12345678987655
                  primary: true
                  name: adidas
                  resource_state: 2
                  distance: 4904
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fault'
  /segments/starred:
    get:
      tags:
      - Segments
      summary: List Starred Segments
      description: List of the authenticated athlete's starred segments. Private segments
        are filtered out unless requested by a token with read_all scope.
      operationId: getLoggedInAthleteStarredSegments
      parameters:
      - name: page
        in: query
        description: Page number. Defaults to 1.
        schema:
          type: integer
      - name: per_page
        in: query
        description: Number of items per page. Defaults to 30.
        schema:
          type: integer
          default: 30
      responses:
        '200':
          description: List of the authenticated athlete's starred segments.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SummarySegment'
              example:
                id: 229781
                resource_state: 3
                name: Hawk Hill
                activity_type: Ride
                distance: 2684.82
                average_grade: 5.7
                maximum_grade: 14.2
                elevation_high: 245.3
                elevation_low: 92.4
                start_latlng:
                - 37.8331119
                - -122.4834356
                end_latlng:
                - 37.8280722
                - -122.4981393
                climb_category: 1
                city: San Francisco
                state: CA
                country: United States
                private: false
                hazardous: false
                starred: false
                created_at: 2009-09-21 20:29:41+00:00
                updated_at: 2018-02-15 09:04:18+00:00
                total_elevation_gain: 155.733
                map:
                  id: s229781
                  polyline: '}g|eFnpqjVl@En@Md@HbAd@d@^h@Xx@VbARjBDh@OPQf@w@d@k@XKXDFPH\EbGT`AV`@v@|@NTNb@?XOb@cAxAWLuE@eAFMBoAv@eBt@q@b@}@tAeAt@i@dAC`AFZj@dB?~@[h@MbAVn@b@b@\d@Eh@Qb@_@d@eB|@c@h@WfBK|AMpA?VF\\t@f@t@h@j@|@b@hCb@b@XTd@Bl@GtA?jAL`ALp@Tr@RXd@Rx@Pn@^Zh@Tx@Zf@`@FTCzDy@f@Yx@m@n@Op@VJr@'
                  resource_state: 3
                effort_count: 309974
                athlete_count: 30623
                star_count: 2428
                athlete_segment_stats:
                  pr_elapsed_time: 553
                  pr_date: 1993-04-03
                  effort_count: 2
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fault'
  /segment_efforts:
    get:
      tags:
      - SegmentEfforts
      summary: List Segment Efforts
      description: Returns a set of the authenticated athlete's segment efforts for
        a given segment.  Requires subscription.
      operationId: getEffortsBySegmentId
      parameters:
      - name: segment_id
        in: query
        description: The identifier of the segment.
        required: true
        schema:
          type: integer
      - name: start_date_local
        in: query
        description: ISO 8601 formatted date time.
        schema:
          type: string
          format: date-time
      - name: end_date_local
        in: query
        description: ISO 8601 formatted date time.
        schema:
          type: string
          format: date-time
      - name: per_page
        in: query
        description: Number of items per page. Defaults to 30.
        schema:
          type: integer
          default: 30
      responses:
        '200':
          description: List of segment efforts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DetailedSegmentEffort'
              example:
              - id: 123456789
                resource_state: 2
                name: Alpe d'Huez
                activity:
                  id: 1234567890
                  resource_state: 1
                athlete:
                  id: 123445678689
                  resource_state: 1
                elapsed_time: 1657
                moving_time: 1642
                start_date: 2007-09-15 08:15:29+00:00
                start_date_local: 2007-09-15 09:15:29+00:00
                distance: 6148.92
                start_index: 1102
                end_index: 1366
                device_watts: false
                average_watts: 220.2
                segment:
                  id: 788127
                  resource_state: 2
                  name: Alpe d'Huez
                  activity_type: Ride
                  distance: 6297.46
                  average_grade: 4.8
                  maximum_grade: 16.3
                  elevation_high: 416
                  elevation_low: 104.6
                  start_latlng:
                  - 52.98501000581467
                  - -3.1869720001197366
                  end_latlng:
                  - 53.02204074375785
                  - -3.2039630001245736
                  climb_category: 2
                  city: Le Bourg D'Oisans
                  state: RA
                  country: France
                  private: false
                  hazardous: false
                  starred: false
                kom_rank: null
                pr_rank: null
                achievements: []
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fault'
  /segments/explore:
    get:
      tags:
      - Segments
      summary: Explore segments
      description: Returns the top 10 segments matching a specified query.
      operationId: exploreSegments
      parameters:
      - name: bounds
        in: query
        description: 'The latitude and longitude for two points describing a rectangular
          boundary for the search: [southwest corner latitutde, southwest corner longitude,
          northeast corner latitude, northeast corner longitude]'
        required: true
        style: form
        explode: false
        schema:
          maxItems: 4
          minItems: 4
          type: array
          items:
            type: number
            format: float
      - name: activity_type
        in: query
        description: Desired activity type.
        schema:
          type: string
          enum:
          - running
          - riding
      - name: min_cat
        in: query
        description: The minimum climbing category.
        schema:
          maximum: 5
          minimum: 0
          type: integer
      - name: max_cat
        in: query
        description: The maximum climbing category.
        schema:
          maximum: 5
          minimum: 0
          type: integer
      responses:
        '200':
          description: List of matching segments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExplorerResponse'
              example:
                segments:
                - id: 229781
                  resource_state: 2
                  name: Hawk Hill
                  climb_category: 1
                  climb_category_desc: '4'
                  avg_grade: 5.7
                  start_latlng:
                  - 37.8331119
                  - -122.4834356
                  end_latlng:
                  - 37.8280722
                  - -122.4981393
                  elev_difference: 152.8
                  distance: 2684.8
                  points: '}g|eFnpqjVl@En@Md@HbAd@d@^h@Xx@VbARjBDh@OPQf@w@d@k@XKXDFPH\EbGT`AV`@v@|@NTNb@?XOb@cAxAWLuE@eAFMBoAv@eBt@q@b@}@tAeAt@i@dAC`AFZj@dB?~@[h@MbAVn@b@b@\d@Eh@Qb@_@d@eB|@c@h@WfBK|AMpA?VF\\t@f@t@h@j@|@b@hCb@b@XTd@Bl@GtA?jAL`ALp@Tr@RXd@Rx@Pn@^Zh@Tx@Zf@`@FTCzDy@f@Yx@m@n@Op@VJr@'
                  starred: false
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fault'
  /segment_efforts/{id}:
    get:
      tags:
      - SegmentEfforts
      summary: Get Segment Effort
      description: Returns a segment effort from an activity that is owned by the
        authenticated athlete. Requires subscription.
      operationId: getSegmentEffortById
      parameters:
      - name: id
        in: path
        description: The identifier of the segment effort.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Representation of a segment effort.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedSegmentEffort'
              example:
                id: 1234556789
                resource_state: 3
                name: Alpe d'Huez
                activity:
                  id: 3454504
                  resource_state: 1
                athlete:
                  id: 54321
                  resource_state: 1
                elapsed_time: 381
                moving_time: 340
                start_date: 2018-02-12 16:12:41+00:00
                start_date_local: 2018-02-12 08:12:41+00:00
                distance: 83
                start_index: 65
                end_index: 83
                segment:
                  id: 63450
                  resource_state: 2
                  name: Alpe d'Huez
                  activity_type: Run
                  distance: 780.35
                  average_grade: -0.5
                  maximum_grade: 0
                  elevation_high: 21
                  elevation_low: 17.2
                  start_latlng:
                  - 37.808407654682
                  - -122.426682919323
                  end_latlng:
                  - 37.808297909724
                  - -122.421324329674
                  climb_category: 0
                  city: San Francisco
                  state: CA
                  country: United States
                  private: false
                  hazardous: false
                  starred: false
                kom_rank: null
                pr_rank: null
                achievements: []
                athlete_segment_stats:
                  pr_elapsed_time: 212
                  pr_date: 2015-02-12
                  effort_count: 149
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fault'
  /clubs/{id}:
    get:
      tags:
      - Clubs
      summary: Get Club
      description: Returns a given club using its identifier.
      operationId: getClubById
      parameters:
      - name: id
        in: path
        description: The identifier of the club.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The detailed representation of a club.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedClub'
              example:
                id: 1
                resource_state: 3
                name: Team Strava Cycling
                profile_medium: https://dgalywyr863hv.cloudfront.net/pictures/clubs/1/1582/4/medium.jpg
                profile: https://dgalywyr863hv.cloudfront.net/pictures/clubs/1/1582/4/large.jpg
                cover_photo: https://dgalywyr863hv.cloudfront.net/pictures/clubs/1/4328276/1/large.jpg
                cover_photo_small: https://dgalywyr863hv.cloudfront.net/pictures/clubs/1/4328276/1/small.jpg
                sport_type: cycling
                activity_types:
                - Ride
                - VirtualRide
                - EBikeRide
                - Velomobile
                - Handcycle
                city: San Francisco
                state: California
                country: United States
                private: true
                member_count: 116
                featured: false
                verified: false
                url: team-strava-bike
                membership: member
                admin: false
                owner: false
                description: Private club for Cyclists who work at Strava.
                club_type: company
                post_count: 29
                owner_id: 759
                following_count: 107
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fault'
  /clubs/{id}/members:
    get:
      tags:
      - Clubs
      summary: List Club Members
      description: Returns a list of the athletes who are members of a given club.
      operationId: getClubMembersById
      parameters:
      - name: id
        in: path
        description: The identifier of the club.
        required: true
        schema:
          type: integer
          format: int64
      - name: page
        in: query
        description: Page number. Defaults to 1.
        schema:
          type: integer
      - name: per_page
        in: query
        description: Number of items per page. Defaults to 30.
        schema:
          type: integer
          default: 30
      responses:
        '200':
          description: A list of club athlete representations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubAthlete'
              example:
              - resource_state: 2
                firstname: Peter
                lastname: S.
                membership: member
                admin: false
                owner: false
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fault'
  /clubs/{id}/admins:
    get:
      tags:
      - Clubs
      summary: List Club Administrators
      description: Returns a list of the administrators of a given club.
      operationId: getClubAdminsById
      parameters:
      - name: id
        in: path
        description: The identifier of the club.
        required: true
        schema:
          type: integer
          format: int64
      - name: page
        in: query
        description: Page number. Defaults to 1.
        schema:
          type: integer
      - name: per_page
        in: query
        description: Number of items per page. Defaults to 30.
        schema:
          type: integer
          default: 30
      responses:
        '200':
          description: A list of summary athlete representations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SummaryAthlete'
              example:
              - resource_state: 2
                firstname: Peter
                lastname: S.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fault'
  /clubs/{id}/activities:
    get:
      tags:
      - Clubs
      summary: List Club Activities
      description: Retrieve recent activities from members of a specific club. The
        authenticated athlete must belong to the requested club in order to hit this
        endpoint. Pagination is supported. Athlete profile visibility is respected
        for all activities.
      operationId: getClubActivitiesById
      parameters:
      - name: id
        in: path
        description: The identifier of the club.
        required: true
        schema:
          type: integer
          format: int64
      - name: page
        in: query
        description: Page number. Defaults to 1.
        schema:
          type: integer
      - name: per_page
        in: query
        description: Number of items per page. Defaults to 30.
        schema:
          type: integer
          default: 30
      responses:
        '200':
          description: A list of activities.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClubActivity'
              example:
              - resource_state: 2
                athlete:
                  resource_state: 2
                  firstname: Peter
                  lastname: S.
                name: World Championship
                distance: 2641.7
                moving_time: 577
                elapsed_time: 635
                total_elevation_gain: 8.8
                type: Ride
                sport_type: MountainBikeRide
                workout_type: null
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fault'
  /athlete/clubs:
    get:
      tags:
      - Clubs
      summary: List Athlete Clubs
      description: Returns a list of the clubs whose membership includes the authenticated
        athlete.
      operationId: getLoggedInAthleteClubs
      parameters:
      - name: page
        in: query
        description: Page number. Defaults to 1.
        schema:
          type: integer
      - name: per_page
        in: query
        description: Number of items per page. Defaults to 30.
        schema:
          type: integer
          default: 30
      responses:
        '200':
          description: A list of summary club representations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SummaryClub'
              example:
              - id: 231407
                resource_state: 2
                name: The Strava Club
                profile_medium: https://dgalywyr863hv.cloudfront.net/pictures/clubs/231407/5319085/1/medium.jpg
                profile: https://dgalywyr863hv.cloudfront.net/pictures/clubs/231407/5319085/1/large.jpg
                cover_photo: https://dgalywyr863hv.cloudfront.net/pictures/clubs/231407/5098428/4/large.jpg
                cover_photo_small: https://dgalywyr863hv.cloudfront.net/pictures/clubs/231407/5098428/4/small.jpg
                sport_type: other
                city: San Francisco
                state: California
                country: United States
                private: false
                member_count: 93151
                featured: false
                verified: true
                url: strava
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fault'
  /gear/{id}:
    get:
      tags:
      - Gears
      summary: Get Equipment
      description: Returns an equipment using its identifier.
      operationId: getGearById
      parameters:
      - name: id
        in: path
        description: The identifier of the gear.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A representation of the gear.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedGear'
              example:
                id: b1231
                primary: false
                resource_state: 3
                distance: 388206
                brand_name: BMC
                model_name: Teammachine
                frame_type: 3
                description: My Bike.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fault'
  /athletes/{id}/routes:
    get:
      tags:
      - Routes
      summary: List Athlete Routes
      description: Returns a list of the routes created by the authenticated athlete.
        Private routes are filtered out unless requested by a token with read_all
        scope.
      operationId: getRoutesByAthleteId
      parameters:
      - name: page
        in: query
        description: Page number. Defaults to 1.
        schema:
          type: integer
      - name: per_page
        in: query
        description: Number of items per page. Defaults to 30.
        schema:
          type: integer
          default: 30
      responses:
        '200':
          description: A representation of the route.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Route'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fault'
components:
  schemas:
    ActivityStats:
      type: object
      properties:
        biggest_ride_distance:
          type: number
          description: The longest distance ridden by the athlete.
          format: double
        biggest_climb_elevation_gain:
          type: number
          description: The highest climb ridden by the athlete.
          format: double
        recent_ride_totals:
          $ref: '#/components/schemas/ActivityTotal'
        recent_run_totals:
          $ref: '#/components/schemas/ActivityTotal'
        recent_swim_totals:
          $ref: '#/components/schemas/ActivityTotal'
        ytd_ride_totals:
          $ref: '#/components/schemas/ActivityTotal'
        ytd_run_totals:
          $ref: '#/components/schemas/ActivityTotal'
        ytd_swim_totals:
          $ref: '#/components/schemas/ActivityTotal'
        all_ride_totals:
          $ref: '#/components/schemas/ActivityTotal'
        all_run_totals:
          $ref: '#/components/schemas/ActivityTotal'
        all_swim_totals:
          $ref: '#/components/schemas/ActivityTotal'
      description: A set of rolled-up statistics and totals for an athlete
    ActivityTotal:
      type: object
      properties:
        count:
          type: integer
          description: The number of activities considered in this total.
        distance:
          type: number
          description: The total distance covered by the considered activities.
          format: float
        moving_time:
          type: integer
          description: The total moving time of the considered activities.
        elapsed_time:
          type: integer
          description: The total elapsed time of the considered activities.
        elevation_gain:
          type: number
          description: The total elevation gain of the considered activities.
          format: float
        achievement_count:
          type: integer
          description: The total number of achievements of the considered activities.
      description: A roll-up of metrics pertaining to a set of activities. Values
        are in seconds and meters.
    Fault:
      type: object
      properties:
        errors:
          type: array
          description: The set of specific errors associated with this fault, if any.
          items:
            $ref: '#/components/schemas/Error'
        message:
          type: string
          description: The message of the fault.
      description: Encapsulates the errors that may be returned from the API.
    Error:
      type: object
      properties:
        code:
          type: string
          description: The code associated with this error.
        field:
          type: string
          description: The specific field or aspect of the resource associated with
            this error.
        resource:
          type: string
          description: The type of resource associated with this error.
    DetailedAthlete:
      allOf:
      - $ref: '#/components/schemas/SummaryAthlete'
      - type: object
        properties:
          follower_count:
            type: integer
            description: The athlete's follower count.
          friend_count:
            type: integer
            description: The athlete's friend count.
          measurement_preference:
            type: string
            description: The athlete's preferred unit system.
            enum:
            - feet
            - meters
          ftp:
            type: integer
            description: The athlete's FTP (Functional Threshold Power).
          weight:
            type: number
            description: The athlete's weight.
            format: float
          clubs:
            type: array
            description: The athlete's clubs.
            items:
              $ref: '#/components/schemas/SummaryClub'
          bikes:
            type: array
            description: The athlete's bikes.
            items:
              $ref: '#/components/schemas/SummaryGear'
          shoes:
            type: array
            description: The athlete's shoes.
            items:
              $ref: '#/components/schemas/SummaryGear'
    SummaryAthlete:
      allOf:
      - $ref: '#/components/schemas/MetaAthlete'
      - type: object
        properties:
          resource_state:
            type: integer
            description: 'Resource state, indicates level of detail. Possible values:
              1 -> "meta", 2 -> "summary", 3 -> "detail"'
          firstname:
            type: string
            description: The athlete's first name.
          lastname:
            type: string
            description: The athlete's last name.
          profile_medium:
            type: string
            description: URL to a 62x62 pixel profile picture.
          profile:
            type: string
            description: URL to a 124x124 pixel profile picture.
          city:
            type: string
            description: The athlete's city.
          state:
            type: string
            description: The athlete's state or geographical region.
          country:
            type: string
            description: The athlete's country.
          sex:
            type: string
            description: The athlete's sex.
            enum:
            - M
            - F
          premium:
            type: boolean
            description: Deprecated.  Use summit field instead. Whether the athlete
              has any Summit subscription.
          summit:
            type: boolean
            description: Whether the athlete has any Summit subscription.
          created_at:
            type: string
            description: The time at which the athlete was created.
            format: date-time
          updated_at:
            type: string
            description: The time at which the athlete was last updated.
            format: date-time
    MetaAthlete:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the athlete
          format: int64
    SummaryClub:
      allOf:
      - $ref: '#/components/schemas/MetaClub'
      - type: object
        properties:
          profile_medium:
            type: string
            description: URL to a 60x60 pixel profile picture.
          cover_photo:
            type: string
            description: URL to a ~1185x580 pixel cover photo.
          cover_photo_small:
            type: string
            description: URL to a ~360x176  pixel cover photo.
          sport_type:
            type: string
            description: Deprecated. Prefer to use activity_types.
            enum:
            - cycling
            - running
            - triathlon
            - other
          activity_types:
            type: array
            description: The activity types that count for a club. This takes precedence
              over sport_type.
            items:
              $ref: '#/components/schemas/ActivityType'
          city:
            type: string
            description: The club's city.
          state:
            type: string
            description: The club's state or geographical region.
          country:
            type: string
            description: The club's country.
          private:
            type: boolean
            description: Whether the club is private.
          member_count:
            type: integer
            description: The club's member count.
          featured:
            type: boolean
            description: Whether the club is featured or not.
          verified:
            type: boolean
            description: Whether the club is verified or not.
          url:
            type: string
            description: The club's vanity URL.
    MetaClub:
      type: object
      properties:
        id:
          type: integer
          description: The club's unique identifier.
          format: int64
        resource_state:
          type: integer
          description: 'Resource state, indicates level of detail. Possible values:
            1 -> "meta", 2 -> "summary", 3 -> "detail"'
        name:
          type: string
          description: The club's name.
    ActivityType:
      type: string
      description: An enumeration of the types an activity may have. Note that this
        enumeration does not include new sport types (e.g. MountainBikeRide, EMountainBikeRide),
        activities with these sport types will have the corresponding activity type
        (e.g. Ride for MountainBikeRide, EBikeRide for EMountainBikeRide)
      enum:
      - AlpineSki
      - BackcountrySki
      - Canoeing
      - Crossfit
      - EBikeRide
      - Elliptical
      - Golf
      - Handcycle
      - Hike
      - IceSkate
      - InlineSkate
      - Kayaking
      - Kitesurf
      - NordicSki
      - Ride
      - RockClimbing
      - RollerSki
      - Rowing
      - Run
      - Sail
      - Skateboard
      - Snowboard
      - Snowshoe
      - Soccer
      - StairStepper
      - StandUpPaddling
      - Surfing
      - Swim
      - Velomobile
      - VirtualRide
      - VirtualRun
      - Walk
      - WeightTraining
      - Wheelchair
      - Windsurf
      - Workout
      - Yoga
    SummaryGear:
      type: object
      properties:
        id:
          type: string
          description: The gear's unique identifier.
        resource_state:
          type: integer
          description: 'Resource state, indicates level of detail. Possible values:
            2 -> "summary", 3 -> "detail"'
        primary:
          type: boolean
          description: Whether this gear's is the owner's default one.
        name:
          type: string
          description: The gear's name.
        distance:
          type: number
          description: The distance logged with this gear.
          format: float
    Zones:
      type: object
      properties:
        heart_rate:
          $ref: '#/components/schemas/HeartRateZoneRanges'
        power:
          $ref: '#/components/schemas/PowerZoneRanges'
    HeartRateZoneRanges:
      type: object
      properties:
        custom_zones:
          type: boolean
          description: Whether the athlete has set their own custom heart rate zones
        zones:
          $ref: '#/components/schemas/ZoneRanges'
    ZoneRanges:
      type: array
      items:
        $ref: '#/components/schemas/ZoneRange'
    ZoneRange:
      type: object
      properties:
        min:
          type: integer
          description: The minimum value in the range.
        max:
          type: integer
          description: The maximum value in the range.
    PowerZoneRanges:
      type: object
      properties:
        zones:
          $ref: '#/components/schemas/ZoneRanges'
    DetailedSegment:
      allOf:
      - $ref: '#/components/schemas/SummarySegment'
      - type: object
        properties:
          created_at:
            type: string
            description: The time at which the segment was created.
            format: date-time
          updated_at:
            type: string
            description: The time at which the segment was last updated.
            format: date-time
          total_elevation_gain:
            type: number
            description: The segment's total elevation gain.
            format: float
          map:
            $ref: '#/components/schemas/PolylineMap'
          effort_count:
            type: integer
            description: The total number of efforts for this segment
          athlete_count:
            type: integer
            description: The number of unique athletes who have an effort for this
              segment
          hazardous:
            type: boolean
            description: Whether this segment is considered hazardous
          star_count:
            type: integer
            description: The number of stars for this segment
    SummarySegment:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of this segment
          format: int64
        name:
          type: string
          description: The name of this segment
        activity_type:
          type: string
          enum:
          - Ride
          - Run
        distance:
          type: number
          description: The segment's distance, in meters
          format: float
        average_grade:
          type: number
          description: The segment's average grade, in percents
          format: float
        maximum_grade:
          type: number
          description: The segments's maximum grade, in percents
          format: float
        elevation_high:
          type: number
          description: The segments's highest elevation, in meters
          format: float
        elevation_low:
          type: number
          description: The segments's lowest elevation, in meters
          format: float
        start_latlng:
          $ref: '#/components/schemas/LatLng'
        end_latlng:
          $ref: '#/components/schemas/LatLng'
        climb_category:
          type: integer
          description: The category of the climb [0, 5]. Higher is harder ie. 5 is
            Hors catégorie, 0 is uncategorized in climb_category.
        city:
          type: string
          description: The segments's city.
        state:
          type: string
          description: The segments's state or geographical region.
        country:
          type: string
          description: The segment's country.
        private:
          type: boolean
          description: Whether this segment is private.
        athlete_pr_effort:
          $ref: '#/components/schemas/SummaryPRSegmentEffort'
        athlete_segment_stats:
          $ref: '#/components/schemas/SummarySegmentEffort'
    LatLng:
      maxItems: 2
      minItems: 2
      type: array
      description: A pair of latitude/longitude coordinates, represented as an array
        of 2 floating point numbers.
      items:
        type: number
        format: float
    SummaryPRSegmentEffort:
      type: object
      properties:
        pr_activity_id:
          type: integer
          description: The unique identifier of the activity related to the PR effort.
          format: int64
        pr_elapsed_time:
          type: integer
          description: The elapsed time ot the PR effort.
        pr_date:
          type: string
          description: The time at which the PR effort was started.
          format: date-time
        effort_count:
          type: integer
          description: Number of efforts by the authenticated athlete on this segment.
    SummarySegmentEffort:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of this effort
          format: int64
        activity_id:
          type: integer
          description: The unique identifier of the activity related to this effort
          format: int64
        elapsed_time:
          type: integer
          description: The effort's elapsed time
        start_date:
          type: string
          description: The time at which the effort was started.
          format: date-time
        start_date_local:
          type: string
          description: The time at which the effort was started in the local timezone.
          format: date-time
        distance:
          type: number
          description: The effort's distance in meters
          format: float
        is_kom:
          type: boolean
          description: Whether this effort is the current best on the leaderboard
    PolylineMap:
      type: object
      properties:
        id:
          type: string
          description: The identifier of the map
        polyline:
          type: string
          description: The polyline of the map, only returned on detailed representation
            of an object
        summary_polyline:
          type: string
          description: The summary polyline of the map
    DetailedSegmentEffort:
      allOf:
      - $ref: '#/components/schemas/SummarySegmentEffort'
      - type: object
        properties:
          name:
            type: string
            description: The name of the segment on which this effort was performed
          activity:
            $ref: '#/components/schemas/MetaActivity'
          athlete:
            $ref: '#/components/schemas/MetaAthlete'
          moving_time:
            type: integer
            description: The effort's moving time
          start_index:
            type: integer
            description: The start index of this effort in its activity's stream
          end_index:
            type: integer
            description: The end index of this effort in its activity's stream
          average_cadence:
            type: number
            description: The effort's average cadence
            format: float
          average_watts:
            type: number
            description: The average wattage of this effort
            format: float
          device_watts:
            type: boolean
            description: For riding efforts, whether the wattage was reported by a
              dedicated recording device
          average_heartrate:
            type: number
            description: The heart heart rate of the athlete during this effort
            format: float
          max_heartrate:
            type: number
            description: The maximum heart rate of the athlete during this effort
            format: float
          segment:
            $ref: '#/components/schemas/SummarySegment'
          kom_rank:
            maximum: 10
            minimum: 1
            type: integer
            description: The rank of the effort on the global leaderboard if it belongs
              in the top 10 at the time of upload
          pr_rank:
            maximum: 3
            minimum: 1
            type: integer
            description: The rank of the effort on the athlete's leaderboard if it
              belongs in the top 3 at the time of upload
          hidden:
            type: boolean
            description: Whether this effort should be hidden when viewed within an
              activity
    MetaActivity:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the activity
          format: int64
    ExplorerResponse:
      type: object
      properties:
        segments:
          type: array
          description: The set of segments matching an explorer request
          items:
            $ref: '#/components/schemas/ExplorerSegment'
    ExplorerSegment:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of this segment
          format: int64
        name:
          type: string
          description: The name of this segment
        climb_category:
          maximum: 5
          minimum: 0
          type: integer
          description: The category of the climb [0, 5]. Higher is harder ie. 5 is
            Hors catégorie, 0 is uncategorized in climb_category. If climb_category
            = 5, climb_category_desc = HC. If climb_category = 2, climb_category_desc
            = 3.
        climb_category_desc:
          type: string
          description: The description for the category of the climb
          enum:
          - NC
          - '4'
          - '3'
          - '2'
          - '1'
          - HC
        avg_grade:
          type: number
          description: The segment's average grade, in percents
          format: float
        start_latlng:
          $ref: '#/components/schemas/LatLng'
        end_latlng:
          $ref: '#/components/schemas/LatLng'
        elev_difference:
          type: number
          description: The segments's evelation difference, in meters
          format: float
        distance:
          type: number
          description: The segment's distance, in meters
          format: float
        points:
          type: string
          description: The polyline of the segment
    DetailedActivity:
      allOf:
      - $ref: '#/components/schemas/SummaryActivity'
      - type: object
        properties:
          description:
            type: string
            description: The description of the activity
          photos:
            $ref: '#/components/schemas/PhotosSummary'
          gear:
            $ref: '#/components/schemas/SummaryGear'
          calories:
            type: number
            description: The number of kilocalories consumed during this activity
            format: float
          segment_efforts:
            type: array
            items:
              $ref: '#/components/schemas/DetailedSegmentEffort'
          device_name:
            type: string
            description: The name of the device used to record the activity
          embed_token:
            type: string
            description: The token used to embed a Strava activity
          splits_metric:
            type: array
            description: The splits of this activity in metric units (for runs)
            items:
              $ref: '#/components/schemas/Split'
          splits_standard:
            type: array
            description: The splits of this activity in imperial units (for runs)
            items:
              $ref: '#/components/schemas/Split'
          laps:
            type: array
            items:
              $ref: '#/components/schemas/Lap'
          best_efforts:
            type: array
            items:
              $ref: '#/components/schemas/DetailedSegmentEffort'
    SummaryActivity:
      allOf:
      - $ref: '#/components/schemas/MetaActivity'
      - type: object
        properties:
          external_id:
            type: string
            description: The identifier provided at upload time
          upload_id:
            type: integer
            description: The identifier of the upload that resulted in this activity
            format: int64
          athlete:
            $ref: '#/components/schemas/MetaAthlete'
          name:
            type: string
            description: The name of the activity
          distance:
            type: number
            description: The activity's distance, in meters
            format: float
          moving_time:
            type: integer
            description: The activity's moving time, in seconds
          elapsed_time:
            type: integer
            description: The activity's elapsed time, in seconds
          total_elevation_gain:
            type: number
            description: The activity's total elevation gain.
            format: float
          elev_high:
            type: number
            description: The activity's highest elevation, in meters
            format: float
          elev_low:
            type: number
            description: The activity's lowest elevation, in meters
            format: float
          type:
            $ref: '#/components/schemas/ActivityType'
          sport_type:
            $ref: '#/components/schemas/SportType'
          start_date:
            type: string
            description: The time at which the activity was started.
            format: date-time
          start_date_local:
            type: string
            description: The time at which the activity was started in the local timezone.
            format: date-time
          timezone:
            type: string
            description: The timezone of the activity
          start_latlng:
            $ref: '#/components/schemas/LatLng'
          end_latlng:
            $ref: '#/components/schemas/LatLng'
          achievement_count:
            type: integer
            description: The number of achievements gained during this activity
          kudos_count:
            type: integer
            description: The number of kudos given for this activity
          comment_count:
            type: integer
            description: The number of comments for this activity
          athlete_count:
            minimum: 1
            type: integer
            description: The number of athletes for taking part in a group activity
          photo_count:
            type: integer
            description: The number of Instagram photos for this activity
          total_photo_count:
            type: integer
            description: The number of Instagram and Strava photos for this activity
          map:
            $ref: '#/components/schemas/PolylineMap'
          trainer:
            type: boolean
            description: Whether this activity was recorded on a training machine
          commute:
            type: boolean
            description: Whether this activity is a commute
          manual:
            type: boolean
            description: Whether this activity was created manually
          private:
            type: boolean
            description: Whether this activity is private
          flagged:
            type: boolean
            description: Whether this activity is flagged
          workout_type:
            type: integer
            description: The activity's workout type
          upload_id_str:
            type: string
            description: The unique identifier of the upload in string format
          average_speed:
            type: number
            description: The activity's average speed, in meters per second
            format: float
          max_speed:
            type: number
            description: The activity's max speed, in meters per second
            format: float
          has_kudoed:
            type: boolean
            description: Whether the logged-in athlete has kudoed this activity
          hide_from_home:
            type: boolean
            description: Whether the activity is muted
          gear_id:
            type: string
            description: The id of the gear for the activity
          kilojoules:
            type: number
            description: The total work done in kilojoules during this activity. Rides
              only
            format: float
          average_watts:
            type: number
            description: Average power output in watts during this activity. Rides
              only
            format: float
          device_watts:
            type: boolean
            description: Whether the watts are from a power meter, false if estimated
          max_watts:
            type: integer
            description: Rides with power meter data only
          weighted_average_watts:
            type: integer
            description: Similar to Normalized Power. Rides with power meter data
              only
    SportType:
      type: string
      description: An enumeration of the sport types an activity may have. Distinct
        from ActivityType in that it has new types (e.g. MountainBikeRide)
      enum:
      - AlpineSki
      - BackcountrySki
      - Badminton
      - Canoeing
      - Crossfit
      - EBikeRide
      - Elliptical
      - EMountainBikeRide
      - Golf
      - GravelRide
      - Handcycle
      - HighIntensityIntervalTraining
      - Hike
      - IceSkate
      - InlineSkate
      - Kayaking
      - Kitesurf
      - MountainBikeRide
      - NordicSki
      - Pickleball
      - Pilates
      - Racquetball
      - Ride
      - RockClimbing
      - RollerSki
      - Rowing
      - Run
      - Sail
      - Skateboard
      - Snowboard
      - Snowshoe
      - Soccer
      - Squash
      - StairStepper
      - StandUpPaddling
      - Surfing
      - Swim
      - TableTennis
      - Tennis
      - TrailRun
      - Velomobile
      - VirtualRide
      - VirtualRow
      - VirtualRun
      - Walk
      - WeightTraining
      - Wheelchair
      - Windsurf
      - Workout
      - Yoga
    PhotosSummary:
      type: object
      properties:
        count:
          type: integer
          description: The number of photos
        primary:
          type: object
          properties:
            id:
              type: integer
              format: int64
            source:
              type: integer
            unique_id:
              type: string
            urls:
              type: object
              additionalProperties:
                type: string
    Split:
      type: object
      properties:
        average_speed:
          type: number
          description: The average speed of this split, in meters per second
          format: float
        distance:
          type: number
          description: The distance of this split, in meters
          format: float
        elapsed_time:
          type: integer
          description: The elapsed time of this split, in seconds
        elevation_difference:
          type: number
          description: The elevation difference of this split, in meters
          format: float
        pace_zone:
          type: integer
          description: The pacing zone of this split
        moving_time:
          type: integer
          description: The moving time of this split, in seconds
        split:
          type: integer
          description: N/A
    Lap:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of this lap
          format: int64
        activity:
          $ref: '#/components/schemas/MetaActivity'
        athlete:
          $ref: '#/components/schemas/MetaAthlete'
        average_cadence:
          type: number
          description: The lap's average cadence
          format: float
        average_speed:
          type: number
          description: The lap's average speed
          format: float
        distance:
          type: number
          description: The lap's distance, in meters
          format: float
        elapsed_time:
          type: integer
          description: The lap's elapsed time, in seconds
        start_index:
          type: integer
          description: The start index of this effort in its activity's stream
        end_index:
          type: integer
          description: The end index of this effort in its activity's stream
        lap_index:
          type: integer
          description: The index of this lap in the activity it belongs to
        max_speed:
          type: number
          description: The maximum speed of this lat, in meters per second
          format: float
        moving_time:
          type: integer
          description: The lap's moving time, in seconds
        name:
          type: string
          description: The name of the lap
        pace_zone:
          type: integer
          description: The athlete's pace zone during this lap
        split:
          type: integer
        start_date:
          type: string
          description: The time at which the lap was started.
          format: date-time
        start_date_local:
          type: string
          description: The time at which the lap was started in the local timezone.
          format: date-time
        total_elevation_gain:
          type: number
          description: The elevation gain of this lap, in meters
          format: float
    UpdatableActivity:
      type: object
      properties:
        commute:
          type: boolean
          description: Whether this activity is a commute
        trainer:
          type: boolean
          description: Whether this activity was recorded on a training machine
        hide_from_home:
          type: boolean
          description: Whether this activity is muted
        description:
          type: string
          description: The description of the activity
        name:
          type: string
          description: The name of the activity
        type:
          $ref: '#/components/schemas/ActivityType'
        sport_type:
          $ref: '#/components/schemas/SportType'
        gear_id:
          type: string
          description: Identifier for the gear associated with the activity. ‘none’
            clears gear from activity
    ActivityZone:
      type: object
      properties:
        score:
          type: integer
        distribution_buckets:
          $ref: '#/components/schemas/TimedZoneDistribution'
        type:
          type: string
          enum:
          - heartrate
          - power
        sensor_based:
          type: boolean
        points:
          type: integer
        custom_zones:
          type: boolean
        max:
          type: integer
    TimedZoneDistribution:
      type: array
      description: Stores the exclusive ranges representing zones and the time spent
        in each.
      items:
        $ref: '#/components/schemas/TimedZoneRange'
    TimedZoneRange:
      description: A union type representing the time spent in a given zone.
      allOf:
      - $ref: '#/components/schemas/ZoneRange'
      - type: object
        properties:
          time:
            type: integer
            description: The number of seconds spent in this zone
    Comment:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of this comment
          format: int64
        activity_id:
          type: integer
          description: The identifier of the activity this comment is related to
          format: int64
        text:
          type: string
          description: The content of the comment
        athlete:
          $ref: '#/components/schemas/SummaryAthlete'
        created_at:
          type: string
          description: The time at which this comment was created.
          format: date-time
    DetailedClub:
      allOf:
      - $ref: '#/components/schemas/SummaryClub'
      - type: object
        properties:
          membership:
            type: string
            description: The membership status of the logged-in athlete.
            enum:
            - member
            - pending
          admin:
            type: boolean
            description: Whether the currently logged-in athlete is an administrator
              of this club.
          owner:
            type: boolean
            description: Whether the currently logged-in athlete is the owner of this
              club.
          following_count:
            type: integer
            description: The number of athletes in the club that the logged-in athlete
              follows.
    ClubAthlete:
      type: object
      properties:
        resource_state:
          type: integer
          description: 'Resource state, indicates level of detail. Possible values:
            1 -> "meta", 2 -> "summary", 3 -> "detail"'
        firstname:
          type: string
          description: The athlete's first name.
        lastname:
          type: string
          description: The athlete's last initial.
        member:
          type: string
          description: The athlete's member status.
        admin:
          type: boolean
          description: Whether the athlete is a club admin.
        owner:
          type: boolean
          description: Whether the athlete is club owner.
    ClubActivity:
      type: object
      properties:
        athlete:
          $ref: '#/components/schemas/MetaAthlete'
        name:
          type: string
          description: The name of the activity
        distance:
          type: number
          description: The activity's distance, in meters
          format: float
        moving_time:
          type: integer
          description: The activity's moving time, in seconds
        elapsed_time:
          type: integer
          description: The activity's elapsed time, in seconds
        total_elevation_gain:
          type: number
          description: The activity's total elevation gain.
          format: float
        type:
          $ref: '#/components/schemas/ActivityType'
        sport_type:
          $ref: '#/components/schemas/SportType'
        workout_type:
          type: integer
          description: The activity's workout type
    DetailedGear:
      allOf:
      - $ref: '#/components/schemas/SummaryGear'
      - type: object
        properties:
          brand_name:
            type: string
            description: The gear's brand name.
          model_name:
            type: string
            description: The gear's model name.
          frame_type:
            type: integer
            description: The gear's frame type (bike only).
          description:
            type: string
            description: The gear's description.
    Route:
      type: object
      properties:
        athlete:
          $ref: '#/components/schemas/SummaryAthlete'
        description:
          type: string
          description: The description of the route
        distance:
          type: number
          description: The route's distance, in meters
          format: float
        elevation_gain:
          type: number
          description: The route's elevation gain.
          format: float
        id:
          type: integer
          description: The unique identifier of this route
          format: int64
        id_str:
          type: string
          description: The unique identifier of the route in string format
        map:
          $ref: '#/components/schemas/PolylineMap'
        name:
          type: string
          description: The name of this route
        private:
          type: boolean
          description: Whether this route is private
        starred:
          type: boolean
          description: Whether this route is starred by the logged-in athlete
        timestamp:
          type: integer
          description: An epoch timestamp of when the route was created
        type:
          type: integer
          description: This route's type (1 for ride, 2 for runs)
        sub_type:
          type: integer
          description: This route's sub-type (1 for road, 2 for mountain bike, 3 for
            cross, 4 for trail, 5 for mixed)
        created_at:
          type: string
          description: The time at which the route was created
          format: date-time
        updated_at:
          type: string
          description: The time at which the route was last updated
          format: date-time
        estimated_moving_time:
          type: integer
          description: Estimated time in seconds for the authenticated athlete to
            complete route
        segments:
          type: array
          description: The segments traversed by this route
          items:
            $ref: '#/components/schemas/SummarySegment'
        waypoints:
          minItems: 0
          type: array
          description: The custom waypoints along this route
          items:
            $ref: '#/components/schemas/Waypoint'
    Waypoint:
      type: object
      properties:
        latlng:
          $ref: '#/components/schemas/LatLng'
        target_latlng:
          $ref: '#/components/schemas/LatLng'
        categories:
          minItems: 0
          type: array
          description: Categories that the waypoint belongs to
          items:
            type: string
        title:
          type: string
          description: A title for the waypoint
        description:
          type: string
          description: A description of the waypoint (optional)
        distance_into_route:
          type: integer
          description: The number meters along the route that the waypoint is located
    Upload:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the upload
          format: int64
        id_str:
          type: string
          description: The unique identifier of the upload in string format
        external_id:
          type: string
          description: The external identifier of the upload
        error:
          type: string
          description: The error associated with this upload
        status:
          type: string
          description: The status of this upload
        activity_id:
          type: integer
          description: The identifier of the activity this upload resulted into
          format: int64
    StreamSet:
      type: object
      properties:
        time:
          $ref: '#/components/schemas/TimeStream'
        distance:
          $ref: '#/components/schemas/DistanceStream'
        latlng:
          $ref: '#/components/schemas/LatLngStream'
        altitude:
          $ref: '#/components/schemas/AltitudeStream'
        velocity_smooth:
          $ref: '#/components/schemas/SmoothVelocityStream'
        heartrate:
          $ref: '#/components/schemas/HeartrateStream'
        cadence:
          $ref: '#/components/schemas/CadenceStream'
        watts:
          $ref: '#/components/schemas/PowerStream'
        temp:
          $ref: '#/components/schemas/TemperatureStream'
        moving:
          $ref: '#/components/schemas/MovingStream'
        grade_smooth:
          $ref: '#/components/schemas/SmoothGradeStream'
    TimeStream:
      allOf:
      - $ref: '#/components/schemas/BaseStream'
      - type: object
        properties:
          data:
            type: array
            description: The sequence of time values for this stream, in seconds
            items:
              type: integer
    BaseStream:
      type: object
      properties:
        original_size:
          type: integer
          description: The number of data points in this stream
        resolution:
          type: string
          description: The level of detail (sampling) in which this stream was returned
          enum:
          - low
          - medium
          - high
        series_type:
          type: string
          description: The base series used in the case the stream was downsampled
          enum:
          - distance
          - time
    DistanceStream:
      allOf:
      - $ref: '#/components/schemas/BaseStream'
      - type: object
        properties:
          data:
            type: array
            description: The sequence of distance values for this stream, in meters
            items:
              type: number
              format: float
    LatLngStream:
      allOf:
      - $ref: '#/components/schemas/BaseStream'
      - type: object
        properties:
          data:
            type: array
            description: The sequence of lat/long values for this stream
            items:
              $ref: '#/components/schemas/LatLng'
    AltitudeStream:
      allOf:
      - $ref: '#/components/schemas/BaseStream'
      - type: object
        properties:
          data:
            type: array
            description: The sequence of altitude values for this stream, in meters
            items:
              type: number
              format: float
    SmoothVelocityStream:
      allOf:
      - $ref: '#/components/schemas/BaseStream'
      - type: object
        properties:
          data:
            type: array
            description: The sequence of velocity values for this stream, in meters
              per second
            items:
              type: number
              format: float
    HeartrateStream:
      allOf:
      - $ref: '#/components/schemas/BaseStream'
      - type: object
        properties:
          data:
            type: array
            description: The sequence of heart rate values for this stream, in beats
              per minute
            items:
              type: integer
    CadenceStream:
      allOf:
      - $ref: '#/components/schemas/BaseStream'
      - type: object
        properties:
          data:
            type: array
            description: The sequence of cadence values for this stream, in rotations
              per minute
            items:
              type: integer
    PowerStream:
      allOf:
      - $ref: '#/components/schemas/BaseStream'
      - type: object
        properties:
          data:
            type: array
            description: The sequence of power values for this stream, in watts
            items:
              type: integer
    TemperatureStream:
      allOf:
      - $ref: '#/components/schemas/BaseStream'
      - type: object
        properties:
          data:
            type: array
            description: The sequence of temperature values for this stream, in celsius
              degrees
            items:
              type: integer
    MovingStream:
      allOf:
      - $ref: '#/components/schemas/BaseStream'
      - type: object
        properties:
          data:
            type: array
            description: The sequence of moving values for this stream, as boolean
              values
            items:
              type: boolean
    SmoothGradeStream:
      allOf:
      - $ref: '#/components/schemas/BaseStream'
      - type: object
        properties:
          data:
            type: array
            description: The sequence of grade values for this stream, as percents
              of a grade
            items:
              type: number
              format: float
  parameters:
    page:
      name: page
      in: query
      description: Page number. Defaults to 1.
      schema:
        type: integer
    perPage:
      name: per_page
      in: query
      description: Number of items per page. Defaults to 30.
      schema:
        type: integer
        default: 30
  securitySchemes:
    strava_oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.strava.com/api/v3/oauth/authorize
          tokenUrl: https://www.strava.com/api/v3/oauth/token
          scopes:
            read: Read public segments, public routes, public profile data, public
              posts, public events, club feeds, and leaderboards
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: The short-lived access token generated by Strava OAuth 2.0. It
        is used to authenticate requests to the Strava API.
x-original-swagger-version: '2.0'
