/* .brownfield {
  color: rgb(129, 75, 14);
} */
.brownfield[aria-selected='true'] {
  border-bottom-color: rgb(129, 75, 14);
}

/* .greenfield {
  color: rgb(70, 209, 88);
} */
.greenfield[aria-selected='true'] {
  border-bottom-color: rgb(70, 209, 88);
}